html,
body {
    background-color: #f2f2f2;
    height: 100%;
}

.home-section {
    height: 100%;
    display: flex;
}

.page-container {
    margin: 2rem auto;
    max-width: 1000px;
    min-width: fit-content;
    width: 70%;
    height: max-content;
}

.page-container h2 {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.login-page {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    margin: 2rem;
    min-width: 300px;
    padding: 2rem;
    border-radius: 0.8rem;
    background-color: #dedee7;
    position: relative;
}

.default-table {
    background-color: white;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: center;
    color: #eb7000;
    border-color: #eb7000 !important;
}

.default-table thead {
    background-color: #eb7000;
    color: white;
}

.default-table td,
.default-table th {
    border-color: #eb7000 !important;
}

.row-disabled {
    background-color: #797979;
}

.table-button {
    color: white;
    /* background: linear-gradient(167.96deg, #ff8700, #eb7000); */
    background-color: #8dc63f;
    border: 2px solid #8dc63f;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.8rem;
    text-align: center;
    padding: 0.5rem;
}

.table-button:hover {
    color: white;
    background-color: #729e34;
    text-decoration: none;
}

.main-form {
    margin: auto;
    min-width: fit-content;
    padding: 2rem;
    border-radius: 0.8rem;
    background-color: #dedee7;
    position: relative;
}

.error-msg {
    font-size: 0.8rem;
    position: absolute !important;
    padding-right: 30px;
    width: 100%;
}

.error-msg label {
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

#btnSubmit {
    width: 100%;
}

#btnCancel {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    border-radius: 0.8rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnCancel:hover {
    cursor: pointer;
}

#btnCancel img {
    width: 60%;
    height: 60%;
}

.chart-container {
    width: 500px;
    height: 500px;
}

.card_menu {
    width: 20%;
    min-width: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(0,0,0,.125);
    background-color: rgba(0,0,0,.02);
}

.card_menu_left {
    width: 75%;
    min-width: 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 15px;
}

.card_menu_right {
    width: 25%;
    height: 100%;
    min-width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-left: 1px solid rgba(0,0,0,.125);
    background-color: rgba(0,0,0,.03);
}

.card_menu_right a {
    width: 20px;
    background-color: #eb7000;
    text-align: center;
    padding: 0;
    background-color: transparent;
}

.card_menu_right a:hover {
    background-color: rgba(0,0,0,.1);
}

.card_menu p, card_menu-subtitle {
    text-align: end;
    margin: 0;
}

.box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.customTooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.customTooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-top {
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-right {
    top: -5px;
    left: 125%;
}

.tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.customTooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}